<footer id="site-footer">
  <div class="inner">
    <div class="lg02"><a ref="/">서울기록원</a></div>
    <div class="fc03">
      <div class="ng02">
        <dl>
          <dt><a href="#">기록찾기</a></dt>
          <dd>
            <ul>
              {% for link in site.data.links %}
              <li><a href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </dd>
        </dl>

        <dl>
          <dt><a href="#">컬렉션</a></dt>
          <dd>
            <ul>
              <li><a href="#">사진아카이브</a></li>
              <li><a href="#">시민 컬렉션</a></li>
            </ul>
          </dd>
        </dl>
        <dl>
          <dt><a href="/about">소개 및 안내</a></dt>
          <dd>
            <ul>
              <li><a href="/about">소개</a></li>
              <li><a href="/articles">공지사항</a></li>
              <li><a href="/articles">일반문의</a></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="rightA">
        <ul class="ng03">
          <li><a href="#">이용약관</a></li>
          <li><a href="#"><b>개인정보보호방침</b></a></li>
        </ul>
        <address>
          서울특별시 은평구 녹번동 산1-61호 <b>000-00-00000</b><br/>
          T.<b>02-0000-0000</b>,   F.<b>02-0000-0000</b>
        </address>
        <p>Copyright (c)2018 <b>Seoul Metropolitan Archive</b></p>
      </div>
    </div>
  </div>
</footer>
