<div id="skip-link">
  <a href="#main-content">콘텐츠 바로가기</a>
</div>
<div id="seoul-common-gnb"></div>
<header{% if include.keyword %} class="searchMode"{% endif %}>
  <div class="inner">
    <div class="lg01">
      <a href="/">{{ site.title }}</a>
      <a href="/bs/" style="background: none; display: inline;">bs</a>
    </div>
    <nav>
      <menu>
        {% for item in site.data.menu %}
        <li{% if page.url == item.url %} class="active"{% endif %}><a href="{% if item.url %}{{ item.url }}{% else %}#{% endif %}">{{ item.title }}</a></li>
        {% endfor %}
      </menu>
      <ul class="ng01">
        <li class="search"><a href="#"><i class="xi-search"></i>검색</a></li>
        <li class="login"><a href="#"><i class="xi-user-o"></i>로그인</a></li>
        <li class="collect"><a href="/collection-box/favorites/"><i class="xi-box"></i>수집박스</a></li>
      </ul>
    </nav>
    <form class="cf01" action="" method="post">
      <fieldset>
        <label for="search_option-button">검색옵션</label>
        <select name="search_option" id="search_option" style="display: none;">
          <option value="0" selected="selected">웹사이트에서 검색하기</option>
          <option value="1">기록에서 검색하기</option>
        </select>
        <span class="ui-selectmenu-button ui-widget ui-state-default ui-corner-all" tabindex="0" id="search_option-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="search_option-menu" aria-haspopup="true" style="width: 30px;" aria-activedescendant="ui-id-1" aria-labelledby="ui-id-2" aria-disabled="false">
          <span class="ui-icon ui-icon-triangle-1-s"></span>
        </span>
        <label for="search_query">검색어</label>
        <input type="text" name="query" id="search_query"{% if include.keyword %} value="{{ include.keyword }}"{% endif %} placeholder="기록에서 검색하기" />
        <button class="btn01"><a href="/search/yongsan-gongwon/">검색</a></button>
        <a class="btn01 btn01_01" href="#">상세검색</a>
        <a class="btn01 btn01_02" href="#"><i class="xi-close"></i>닫기</a>
      </fieldset>
    </form>
  </div>
</header>
