---
layout: page
search_result_count: 12
hierachy:
  first: 전자행정문서-RMS(레코드그룹)
  second: 도시계획(서브-레코드)
  third : 새로운용산공원조성(시리즈)
selected: 용산공원조성관련(서브-시리즈)
---


  <div class="inner">
    <div class="TopA">
      <ul class="ng06">
        <li class="home"><i class="xi-home-o"></i><a href="/">홈</a></li>
        <li><a href="/browse">탐색</a></li>
        <li><a href="/record-group/1">전자행정문서-RMS</a></li> 
        <li><a href="/sub-record-group/1">도시계획</a></li>
        <li><a href="/sires/1">새로운용산공원조성</a></li>                      
        <!--li><a href="/search/yongsan-gongwon">검색결과 <strong>{{ page.search_result_count }}</strong>건</a></li-->
        <li class="current"><a href="#">{{ page.selected }}</a></li>
      </ul>
    </div>
    <div class="lowerA">
      <dl class="ng07">
        <dt>현재위치 :</dt>
        <dd>
          <ul>
            <li class="home"><i class="xi-home"></i><a href="/record-group/1">{{ page.hierachy.first }}</a></li>
            <li class="d1"><i class="xi-tab"></i><a href="/sub-record-group/1">{{ page.hierachy.second }}</a></li>
            <li class="d2"><i class="xi-tab"></i><a href="/series/1">{{ page.hierachy.third }}</a></li>
            <li class="d3 current"><i class="xi-tab"></i><a href="/sub-series/1">{{ page.selected}}</a></li>
          </ul>
        </dd>
      </dl>

      <dl class="th01">
        <dt><h1>{{ page.selected }}</h1></dt>
      </dl>

      <div class="fc06">
        <div class="leftA">
          <ul class="lc02">
            {% for set in site.data.files %}
            <li{% if forloop.first == true %} class="selected"{% endif %}>
              <dl>
                <dt><a href="/file/1">{{ set.title }}</a></dt>
                <dd>생산년도 : 2008년 ~ 2017년<p>설명 : {{ set.description }}</p></dd>
              </dl>
              <a class="desc" href="#">세부보기</a>
              <span class="card">{{ set.level_of_description }}</span>
            </li>
            {% endfor %}
          </ul>
          <div class="pg01"><a href="#">다음 목록(30개)</a></div>
        </div>
        <div class="rightA">
          <dl class="lc03">
            <dt>기술계층(하위)</dt>
            <dd>
              <ul>
                {% for set in site.data.items %}
                <li>
                  <dl>
                    <dt><a href="/item/1">{{ set.title }}</a></dt>
                    <dd>설명 : {{ set.description }}</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
