---
layout: bs/page
keyword: 용산공원
---

{% comment %} 시리즈 + 파일 + 아이템 배열 합치기!! {% endcomment %}

{% assign results = "" | split: "" %}
{% for record-group in site.data.record-groups %}
  {% assign results = results | push: record-group %}
{% endfor %}
{% for sub-record-group in site.data.sub-record-groups %}
  {% assign results = results | push: sub-record-group %}
{% endfor %}
{% for set in site.data.series %}
  {% assign results = results | push: set %}
{% endfor %}
{% for sub-set in site.data.sub-series %}
  {% assign results = results | push: sub-set %}
{% endfor %}
{% for file in site.data.files %}
  {% assign results = results | push: file %}
{% endfor %}
{% for item in site.data.items %}
  {% assign results = results | push: item %}
{% endfor %}

<div class="container">
  <div class="search-bar">
    <div class="d-flex justify-content-end pt-2 border-bottom-1">
      <div class="mr-auto p-2">
        <i class="fa fa-search"></i>"<b>용산공원</b>"으로 검색한 결과값 <strong>35,800</strong>
      </div>
      <ul class="nav">
        <li class="nav-item">
          <div class="form-group">
            <select class="form-control" id="filter_sort">
              <option>제목순</option>
              <option>년도순</option>
            </select>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">결과값 다운로드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">인쇄모드</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">수집박스 저장</a>
        </li>
      </ul>
    </div>
  </div>
  
</div>

