---
layout: page
search_result_count: 12
hierachy:
  first: 전자행정문서-RMS(레코드그룹)
selected: 도시계획(서브-레코드)
---


  <div class="inner">
    <div class="TopA">
      <ul class="ng06">
        <li class="home"><i class="xi-home-o"></i><a href="/">홈</a></li>
        <li><a href="/browse">탐색</a></li>
        <li><a href="/record-group/rm">전자행정문서-RMS</a></li>
        <li class="current"><a href="#">{{ page.selected }}</a></li>
      </ul>
    </div>
    <div class="lowerA">
      <dl class="ng07">
        <dt>현재위치 :</dt>
        <dd>
          <ul>
            <li class="home"><i class="xi-home"></i><a href="/record-group/rm">{{ page.hierachy.first }}</a></li>
            <li class="d2 current"><i class="xi-tab"></i><a href="/sub-record-group/rm">{{ page.selected}}</a></li>
          </ul>
        </dd>
      </dl>

      <dl class="th01">
        <dt><h1>{{ page.selected }} 에 포함된 </h1></dt>
        <ul class="rightF">
          <li><a href="#">결과값 다운로드</a></li>
          <li><a href="#">인쇄모드</a></li>
          <li><a href="/collection-box/favorites/">수집박스 저장</a></li>
        </ul> 
      </dl>

      <div class="fc06">
        <div class="leftA">
          <ul class="lc02">
            {% for set in site.data.series %}
            <li{% if forloop.first == true %} class="selected"{% endif %}>
              <dl>
                <dt><a href="/series/rm">{{ set.title }}</a></dt>
                <dd>생산년도 : 2008년 ~ 2017년<p>설명 : {{ set.description }}</p></dd>
              </dl>
              <a class="desc" href="/series/1">세부보기</a>
              <span class="card">{{ set.level_of_description }}</span>
            </li>
            {% endfor %}
          </ul>
          <div class="pg01"><a href="#">최종 페이지입니다.</a></div>
        </div>
        <div class="rightA">
          <dl class="lc03">
            <dt>기술계층(하위)</dt>
            <dd>
              <ul>
              {% for set in site.data.sub-series %}
                <li>
                  <dl>
                    <dt><a href="/sub-series/rm">{{ set.title }}</a></dt>
                    <dd>설명 : {{ set.description }}</dd>
                  </dl>
                  <a class="desc" href="/sub-series/1">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 발의과정</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 제정 국회 현장사진</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 제정 국회 현장사진</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
