---
layout: page
search_result_count: 12
hierachy:
  first: (RG)건축국
selected: (s-RG)도시계획
---


  <div class="inner">
    <div class="TopA">
      <ul class="ng06">
        <li class="home"><i class="xi-home-o"></i><a href="/">홈</a></li>
        <li><a href="/browse">탐색</a></li>
        <li><a href="/record-group/rm">{{ page.hierachy.first }}</a></li>
        <li class="current"><a href="#">{{ page.selected }}</a></li>
      </ul>
    </div>
    <div class="lowerA">
     <dl class="ng07">
            <h1>탐색 - 기술계층(상위)</h1>
          <dt></dt>
          <dd>
            <ul>
              <li class="home current"><i class="xi-home"></i><a href="/record-group/rm">{{ page.hierachy.first }}</a></li>
            </ul>  
          </dd>
          <!--
          /br> 
            <h1>현재 기록위치</h1-->
        </dl> 
      <div class="fc06">
        <div class="leftA">
          <ul class="lc02">
            {% for set in site.data.sub-record-groups %}
            <li{% if forloop.first == true %} class="selected"{% endif %}>
              <dl>
                <dt><a href="/sub-record-group/rm">{{ set.title }}({{ set.level_of_description }})</a></dt>
                <dd>생산년도 : 2008년 ~ 2017년<p>설명 : {{ set.description }}</p></dd>
              </dl>
              <a class="desc" href="/sub-record-group/1">세부보기</a>
              <span class="card">{{ set.level_of_description }}</span>
            </li>
            {% endfor %}
          </ul>
          <div class="pg01"><a href="#">최종 페이지입니다.</a></div>
        </div>
        <div class="rightA">
          <dl class="lc03">
            <dt>기술계층(하위)</dt>
            <dd>
              <ul>
              {% for set in site.data.series %}
                <li>
                  <dl>
                    <dt><a href="/series/rm">{{ set.title }}({{ set.level_of_description }})</a></dt>
                    <dd>설명 : {{ set.description }}</dd>
                  </dl>
                  <a class="desc" href="/series/1">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 발의과정</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 제정 국회 현장사진</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                <li>
                  <dl>
                    <dt><a href="#">특별법 제정 국회 현장사진</a></dt>
                    <dd>설명 : 특별법 전문의 내용을 확인할 수 있다.</dd>
                  </dl>
                  <a class="desc" href="#">세부보기</a>
                </li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
