<div class="section newsletter bg-light rounded p-3 my-5">
  <div class="form-group row my-3">
    <label for="example-email-input" class="col-1 py-1 px-2 col-form-label text-info"><i class="fa fa-envelope-o fa-5x"></i></label>
    <div class="col-6 p-3">
      <h4>뉴스레터 수신하기</h4>
      <span>방문객 및 웹서비스 회원을 위한 회원카드가 발급됩니다.</span>
    </div>
    <div class="col-3 mt-4">
      <input class="form-control" type="email" value="your@email.com" id="example-email-input">
    </div>
    <button type="submit" class="btn btn-primary col-2 mt-4" data-toggle="modal" data-target="#myModal">Submit</button>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog align-self-center" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">이메일 제공 동의</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>등록한 이메일로 서울기록원이 아래와 같은 정보를 전달하기 위한 이메일 수집에 동의하삽니까?</p>
        <ul>
          <li>웹사이트 정보</li>
          <li>이벤트 및 행사 정보</li>
          <li>서울특별시 이관, 수집 기록 변경에 대한 정보</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">동의</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>