---
layout: page
---
  <!-- 서브 컨텐츠 영역 -->
  <div class="fc04" id="main-content">
    <div class="inner">
      <div class="TopA">
        <ul class="ng06">
          <li class="home"><i class="xi-home-o"></i><a href="#">홈</a></li>
          <li><a href="#">주택, 도시계획, 부동산</a></li>
          <li><a href="#">도시계획국</a></li>
          <li class="current"><a href="#">새로운 용산공원 조성방안 마련</a></li>
        </ul>
      </div>
      <div class="lowerA">
        <dl class="th01">
          <dt><h1>용산공원 특별법 전문</h1></dt>
          <dd>
            <ul class="ng04">
              <li><a href="/sda-prototype/html/04_mybox_bookmark_list.html"><i class="xi-star"></i>즐겨찾기</a></li>
              <li><a href="#"><i class="xi-facebook"></i>페북공유</a></li>
            </ul>
          </dd>
        </dl>
        <div class="td02">*해당되는 건(Item)은 100개의 원본파일을 포함하고 있으며 온라인에서 직접 확인하고, 다운로드할 수 있습니다.  로그인 후 즐겨찾기를 통해 위치를 저장할 수 있습니다. 모두 가능합니다.</div>
        <ul class="ng08">
          <li class="open"><a class="btn02" href="#">열람하기</a></li>
          <li class="down"><a class="btn02" href="#">전체 다운로드</a></li>
        </ul>
        <div class="etc01" style="display:none">
          <a href="#" class="close"><i class="xi-close"></i></a>
          <div class="contents">
            <iframe width="560" height="788" src="../pdfjs/web/viewer.html?file=../../files/58dcc6df8f23d4.93817358.pdf" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="tc03">
          <dl>
            <dt>제목</dt>
            <dd>용산공원 특별법 제정관리</dd>
          </dl>
          <dl>
            <dt>기술계층</dt>
            <dd>아이템(item)</dd>
          </dl>
          <dl>
            <dt>생산자</dt>
            <dd>서울특별시 본청 > 도시계획국 > 도시계획과 > 용산공원 전략팀</dd>
          </dl>
          <dl>
            <dt>생산년도</dt>
            <dd>2017년</dd>
          </dl>
          <dl>
            <dt>설명</dt>
            <dd>용산공원조성특별법 개정관련 논의(조성주체 시기, 운영)등의 사업에 대한 기록이다. 용산공원조성 특별법 개정관련 논의(조성주체 시기, 운영)등의 사업에 대한 기록이다. 용산공원조성특별법 개정관련 논의 (조성주체 시기, 운영)등의 사업에 대한 기록이다. </dd>
          </dl>
          <dl>
            <dt>관리번호</dt>
            <dd>D00000374h2nd</dd>
          </dl>
        </div>

        <dl class="lc04">
          <dt>포함된 원문 문서</dt>
          <dd>
            <ul>
              <li>
                <span class="t1"><strong>특별법 전문 초안</strong></span>
                <span class="t2">[파일타입 : Doc]</span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>특별법 전문 원문</strong></span>
                <span class="t2">[파일타입 : PDF]</span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>특별법 전문 목차</strong></span>
                <span class="t2">[파일타입 : HWP]</span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>특별법 전문 목차</strong></span>
                <span class="t2">[파일타입 : Doc]</span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
            </ul>
          </dd>
        </dl>

        <dl class="ng07">
          <dt>현재위치 :</dt>
          <dd>
            <ul>
              <li class="home"><i class="xi-home"></i><a href="#">Hierarchy 1</a></li>
              <li class="d1"><i class="xi-tab"></i><a href="#">Hierarchy 2</a></li>
              <li class="d2"><i class="xi-tab"></i><a href="#">Hierarchy 3</a></li>
              <li class="d3"><i class="xi-tab"></i><a href="#">(RG)새로운 용산공원 조성방안 마련</a></li>
              <li class="d4"><i class="xi-tab"></i><a href="#">용산공원 특별법 제정관련</a></li>
              <li class="d5 current"><i class="xi-tab"></i><a href="#">용산공원 특별법 요청공문</a></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!-- //서브 컨텐츠 영역 -->
