---
layout: page
---
  {% assign pathes = page.path | replace: '.html', ''  | split: "/" %}

  {% assign type = pathes[0] %}
  {% assign data = type | append: 's' %}
  {% if type contains 'series' %}{% assign data = type %}{% endif %}
  {% assign id = pathes[1] %}

  {% assign node = site.data[data] | where: "id", id | first %}

  <!-- 서브 컨텐츠 영역 -->
  <div class="fc04" id="main-content">
    <div class="inner">
      <div class="TopA">
        <ul class="ng06">
          <li class="home"><i class="xi-home-o"></i><a href="#">홈</a></li>
          <li><a href="#">Hierarchy1</a></li>
          <li><a href="#">Hierarchy2</a></li>
          <li class="current"><a href="#">{{ node.title }}</a></li>
        </ul>
      </div>
      <div class="lowerA">
        <dl class="ng11">
            <h1>연관 탐색화면으로 돌아가기</h1>
          <dt></dt>
          <dd>
            <ul>
              <li class="home"><i class="xi-home"></i><a href="#">서울기록원</a></li>
              <li class="d1"><i class="xi-tab"></i><a href="#">Hierarchy1</a></li>
              <li class="d2"><i class="xi-tab"></i><a href="#">Hierarchy2</a></li>
              <li class="d3"><i class="xi-tab"></i><a href="/#">Hierarchy3</a></li>
              <li class="d4 curren"><i class="xi-tab"></i><a href="/#">{{ node.title }}</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="th01">
          <dt><h1>{{ node.title }}</h1></dt>
          <dd>
            <ul class="ng04">
              <li><a href="/collection-box/favorites/"><i class="xi-star"></i>즐겨찾기</a></li>
              <li><a href="#"><i class="xi-facebook"></i>페북공유</a></li>
            </ul>
          </dd>
        </dl>
        {% if node.component_presentation_option == 'valid' %}
        <div class="td02">*해당되는 건(Item)은 100개의 원본파일을 포함하고 있으며 온라인에서 직접 확인하고, 다운로드할 수 있습니다.  로그인 후 즐겨찾기를 통해 위치를 저장할 수 있습니다. 모두 가능합니다.</div>
        <ul class="ng08">
          <li class="open"><a class="btn02" href="#">열람하기</a></li>
          <li class="down"><a class="btn02" href="#">전체 다운로드</a></li>
        </ul>
        <div class="etc01" style="display:on">
          <a href="#" class="close"><i class="xi-close"></i></a>
          <div class="contents">
            <iframe width="1230" height="788" src="https://sda17dev.github.io/sda-prototype/pdfjs/web/viewer.html?file=../../files/58dcc6df8f23d4.93817358.pdf" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        {% endif %}
        <dl class="tc02">
          <dt>해당되는 기록은 공개자료입니다.</dt>
          <dd>
            <a href="#">열람 편의 제공 안내</a>
            <ol>
              <li><em>❶</em>해당되는 기록은 공개자료이다.</li>
              <li><em>❷</em>온라인 서비스를 통해서 메타 정보를 확인할 수 있습니다. 직접 파일을 보지 못 하는 경우는 방문 및 열람이 가능합니다. </li>
              <li><em>❸</em>만일 비공개자료일 경우 서울기록원에 직접 찾아와 열람을 위한 절차가 필요합니다.</li>
              <li><em>❹</em>특수한 경우 목록 및 메타정보만 확인 가능하다.</li>
            </ol>
          </dd>
        </dl>
        <div class="tc03">
          <dl>
            <dt>제목</dt>
            <dd>{{ node.title }}</dd>
          </dl>
          <dl>
            <dt>기술계층</dt>
            <dd>{{ node.level_of_description }}</dd>
          </dl>
          <dl>
            <dt>생산년도</dt>
            <dd>{{ node.created_year }}</dd>
          </dl>
          <dl>
            <dt>설명</dt>
            <dd>{{ node.description }}</dd>
          </dl>
          <dl>
            <dt>관리번호</dt>
            <dd>{{ node.Identifier }}</dd>
          </dl>
        </div>

        {% if node.component_presentation_option == 'valid' %}
        <dl class="lc04">
          <dt>포함된 원문 문서</dt>
          <dd>
            <ul>
              <li>
                <span class="t1"><strong>첨부파일제목</strong></span>
                <span class="t2"></span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>첨부파일제목</strong></span>
                <span class="t2"></span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>첨부파일제목</strong></span>
                <span class="t2"></span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
              <li>
                <span class="t1"><strong>첨부파일제목</strong></span>
                <span class="t2"></span>
                <span class="t3"><a href="#" class="btn02">다운로드</a></span>
              </li>
            </ul>
          </dd>
        </dl>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- //서브 컨텐츠 영역 -->
