---
layout: page
---
  {% assign pathes = page.path | replace: '.html', ''  | split: "/" %}

  {% assign type = pathes[0] %}
  {% assign data = type | append: 's' %}
  {% assign id = pathes[1] %}

  {% assign node = site.data[data] | where: "id", id | first %}

  <!-- 서브 컨텐츠 영역 -->
  <div class="fc04" id="main-content">
    <div class="inner">
      <div class="TopA">
        <ul class="ng06">
          <li class="home"><i class="xi-home-o"></i><a href="#">홈</a></li>
          <li><a href="#">주택, 도시계획, 부동산</a></li>
          <li><a href="#">도시계획국</a></li>
          <li class="current"><a href="#">{{ node.title }} <span style="color: red; font-size: 80%;">(추가 작업 필요)</span></a></li>
        </ul>
      </div>
      <div class="lowerA">
        <dl class="th01">
          <dt><h1>{{ node.title }}</h1></dt>
          <dd>
            <ul class="ng04">
              <li><a href="/collection-box/favorites/"><i class="xi-star"></i>즐겨찾기</a></li>
              <li><a href="#"><i class="xi-facebook"></i>페북공유</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="tc02">
          <dt>해당되는 기록은 비공개자료입니다.</dt>
          <dd>
            <a href="#">온라인 열람 편의 제공 안내</a>
            <ol>
              <li><em>❶</em>해당되는 기록은 비공개자료이다.</li>
              <li><em>❷</em>온라인 서비스를 통해서 메타 정보만 확인할 수 있다.</li>
              <li><em>❸</em>비공개자료에 대해서는 서울기록원에 직접 찾아와 열람을 위한 절차를 통해 승인 받는다.</li>
              <li><em>❹</em>특수한 경우 목록 및 메타정보만 확인 가능하다.</li>
            </ol>
          </dd>
        </dl>
        <div class="tc03">
          <dl>
            <dt>제목</dt>
            <dd>{{ node.title }}</dd>
          </dl>
          <dl>
            <dt>공개유무</dt>
            <dd>비공개 <span style="color: red; font-size: 80%;">(레코드그룹에 필드 없음)</span></dd>
          </dl>
          <dl>
            <dt>기술계층</dt>
            <dd>{{ node.level_of_description }}</dd>
          </dl>
          <dl>
            <dt>생산자</dt>
            <dd>서울특별시 본청 > 도시계획국 > 도시계획과 > 용산공원 전략팀 <span style="color: red; font-size: 80%;">(레코드그룹에 필드 없음)</span></dd>
          </dl>
          <dl>
            <dt>생산년도</dt>
            <dd>{{ node.created_year }}</dd>
          </dl>
          <dl>
            <dt>설명</dt>
            <dd>{{ node.description }}</dd>
          </dl>
          <dl>
            <dt>관리번호</dt>
            <dd>{{ node.Identifier }}</dd>
          </dl>
        </div>

        <dl class="ng07">
          <dt>현재위치 :</dt>
          <dd>
            <ul>
              <li class="home"><i class="xi-home"></i><a href="#">Hierarchy 1</a></li>
              <li class="d1"><i class="xi-tab"></i><a href="#">Hierarchy 2</a></li>
              <li class="d2"><i class="xi-tab"></i><a href="#">Hierarchy 3</a></li>
              <li class="d3"><i class="xi-tab"></i><a href="#">(RG)새로운 용산공원 조성방안 마련</a></li>
              <li class="d4 current"><i class="xi-tab"></i><a href="#">용산공원 특별법 제정관련</a></li>
              <li><span style="color: red; font-size: 80%;">(추가 작업 필요)</span></li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <!-- //서브 컨텐츠 영역 -->
