---
layout: page
search_result_count: 3
hierachy:
selected: (RG)건축
---


  <div class="inner">
    <div class="TopA">
      <ul class="ng06">
        <li class="home"><i class="xi-home-o"></i><a href="/">홈</a></li>
        <li><a href="/browse">탐색</a></li>  
        <li class="current"><a href="#">{{ page.selected }}</a></li>
        <!--li><a href="/search/yongsan-gongwon">검색결과 <strong>{{ page.search_result_count }}</strong>건</a></li-->
      </ul>
    </div>
    <div class="lowerA">
      <dl class="ng07">
          <h1>현재 기록위치</h1>
      </dl>
      <div class="fc06">
        <div class="leftA">
          <ul class="lc02">
             {% for set in site.data.record-groups %}
            <li{% if forloop.first == true %} class="selected"{% endif %}>
              <dl>
                <dt><a href="/record-group/rm">{{ set.title }}</a></dt>
                <dd>생산년도 : 1995년 ~ 2000년</dd>
                <dd>설명 : {{ set.description }}</dd>                                          
              </dl>
              <a class="desc" href="/record-group/1">세부보기</a>              
              <span class="card">레코드그룹</span>
                {% endfor %}
            </li>           
            <!--li>
              <dl>
                <dt><a href="#">아동청소년여성(레코드그룹)</a></dt>
                <dd>생산년도 : 2008년 ~ 2017년</dd>
                <dd>설명 : 서울특별시 본청이 소장하고 있던 아동청소년여성 영역을 하나의 레코드그룹으로 지정했다.</dd>
              </dl>
              <a class="desc" href="/record-group/2">세부보기</a>
              <span class="card">레코드그룹</span>
            </li>
            <li>
              <dl>
                <dt><a href="#">복지(레코드그룹)</a></dt>
                <dd>설명 : 서울특별시 본청이 소장하고 있던 복지 영역을 하나의 레코드그룹으로 지정했다.</dd>
              </dl>
              <a class="desc" href="/record-group/3">세부보기</a>              
              <span class="card">레코드그룹</span>
            </li>
            <li>
              <dl>
                <dt><a href="#">교통안전(레코드그룹)</a></dt>
                <dd>설명 : 서울특별시 본청이 소장하고 있던 교통안전 역을 하나의 레코드그룹으로 지정했다.</dd>
              </dl>
              <a class="desc" href="/record-group/3">세부보기</a>              
              <span class="card">레코드그룹</span>
            </li-->                     
          </ul>
          <div class="pg01"><a href="#">최종 페이지입니다. </a></div>
        </div>
        <div class="rightA">
          <dl class="lc03">
            <dt>기술계층(하위)</dt>
            <dd>
              <ul>
              {% for set in site.data.sub-record-groups %}
                <li>
                  <dl>
                    <dt><a href="/sub-record-group/rm">{{ set.title }}</a></dt>
                    <dd>설명 : {{ set.description }}</dd>
                  </dl>
                  <a class="desc" href="/sub-record-group/1">세부보기</a>
                </li>
              {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
